<?xml version="1.0"?>
<config>

<modules>
	<VJP_AttributeOptionImage>
		<version>1.0.1</version>
	</VJP_AttributeOptionImage>
</modules>
    <global>
	    <resources>
            <attributeoptionimage_setup>
                <setup>
                    <module>VJP_AttributeOptionImage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </attributeoptionimage_setup>
        </resources>

        <models>
             <vjp_attributeoptionimage>
                <class>VJP_AttributeOptionImage_Model</class>
             </vjp_attributeoptionimage>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <attribute>VJP_AttributeOptionImage_Model_Catalog_Resource_Eav_Mysql4_Attribute</attribute>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <eav>
                <rewrite>
                    <entity_attribute_source_table>VJP_AttributeOptionImage_Model_Eav_Entity_Attribute_Source_Table</entity_attribute_source_table>
                </rewrite>
            </eav>
            <eav_mysql4>
                <rewrite>
                    <entity_attribute_option>VJP_AttributeOptionImage_Model_Eav_Mysql4_Entity_Attribute_Option</entity_attribute_option>
                </rewrite>
            </eav_mysql4>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>VJP_AttributeOptionImage_Block_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <attributeoptionimage>
                <class>VJP_AttributeOptionImage_Helper</class>
            </attributeoptionimage>
            <cms>
                <rewrite>
                    <wysiwyg_images>VJP_AttributeOptionImage_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
		
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <VJP_AttributeOptionImage before="Mage_Adminhtml">VJP_AttributeOptionImage</VJP_AttributeOptionImage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
                <observers>
                    <update_layout>
                        <class>vjp_attributeoptionimage/observer</class>
                        <method>updateLayout</method>
                    </update_layout>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <attributeoptionimage>
                    <file>attributeoptionimage.xml</file>
                </attributeoptionimage>
            </updates>
        </layout>
    </frontend>

</config>